.checkboxSpan{
  height: 25px;
  width: 25px;
  background-color: #eee;
}



.prompt{
  border-radius: 2px !important;
  opacity: .8;
}

.ui.button.playlistButton{
  padding-right: 1cm !important;
  width: 100% !important;
  color: white !important;
  background-color: #2bbbff;
  opacity: 0.8;
}

.songInfoContainer{
  position: relative;
  top: 100px;
}

#pButton{
	border: none;

	background-position: center;
  margin: 0;
  padding: 0;
  height: 100% !important;
  width: 100% !important;


}
.ui.grid.playerGrid{
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.ui.progress .bar {
  height: 80% !important;
}
.progress{
  margin: 0 !important;

  height: 80% !important;
}

.primaryContainer{
  max-height: 87vh !important;
  min-height: 80vh !important;
}


.audioContainer{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #2bbbff !important;
  position: fixed;
  bottom: 0;
  height: 8vh !important;
  width: 100vw;
}
.ui.grid > .row{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.playerCol{
  color: #2bbbff !important;
}

.sideBarLoader{
  padding-top: 20% !important;

  padding-bottom: 20% !important;
}

.stickyTop{
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  background: rgba(0, 0, 0, .3) !important;
}
.stickyBottom{
  position: -webkit-sticky !important;
  position: sticky !important;
  bottom: 0 !important;
  background: rgba(0, 0, 0, .3) !important;
}

.ui.inverted.table.t1{
  margin: 0 !important;
  color: rgba(255, 255, 255, .8) !important;
}

.ui.rating .active.icon{
  color: rgba(43, 187, 255, .9) !important;
}

.ui.labeled.icon.button.button2{

  width: 100%;
  right: 0%;
  height: 100%;
  padding-left: 0px;
}

.ui.labeled.icon.menu .item .sideBarItem{
  width: 100%;
  padding: 0;
  font-size: .5rem;
}
.ui.inverted.blue.button.button2{
  width: 100%;
  right: 0%;
  height: 1cm;
  padding-left: 0px;
}

.ui.labeled.icon.menu .item > .icon:not(.dropdown).button2{
  margin: 0 !important;
  height: auto;
}


.dropOverlay{
  float: left;
  position: absolute;
  height: 100%;
  width: .5cm;
  right: 90%;
  z-index: 1000000;
  background-color: Black;
  color: #2bbbff;
  font-family: arial;
}

.ui.modal.uploadModal{
  vertical-align: middle !important;
  position: relative;
  margin: auto !important;
  margin-top: 0vh !important;
}

.button{
  border-radius: 0 !important;
  border-style: hidden !important;
  border-width: 0px !important;
  box-shadow: 0 0 0 0px inset !important;
}

.ui.menu .sideItems {
  padding: 0em !important;

}
.ui.labeled.icon.menu .item{

}

.ui.icon.button.trashcan{
  position: fixed !important;
  float: right;
  z-index: 10000 !important;
  right: 0%;
}
.topBar {
  max-width: 100vw;
  min-height: 1.15cm;
  max-height: 1.15cm;
}


.pusherContainer {
  max-height: 85vh;

  margin: 0 !important;
}

.listSidebar {
  z-index: 0;
  padding: 0 !important;

}
.ui.inverted.blue.button.sidebarButton{
  position: fixed;
  z-index: 123421;
}

.ui.thin.left.sidebar, .ui.thin.right.sidebar {
    width: 13vw !important;
}

.ui.visible.thin.left.sidebar ~ .pusher {
    -webkit-transform: translate3d(15vw,0,0);
    transform: translate3d(15vw,0,0)
  }


.ui.visible.thin.left.sidebar ~ .pusher {
      width: 87% !important;
      transform: scale(85%, 100%) !important;
      overflow: auto !important;
}

.ui.visible.left.sidebar ~ .pusher{
  transform: translate3d(13vw,0,0) !important;
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 4s linear;
  height: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
